<h1>New user</h1>
<%= form_tag :action => 'add' do  %>
Nombres:<br>
<%= text_field_tag 'names', @names  %><br>
Email:<br>
<%= text_field_tag 'email', @email %><br>
<%= submit_tag 'Guardar' %>
<% end %>

